.card {
    width: 350px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 30%, #ffcc70 66%, #ffffff 100%);
}
.card__authorFlex {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.card__authorBox {
    width: 70px;
    text-align: center;
}
.card__authorImg {
    border-radius: 50%;
    border: 1px solid transparent;
    background: linear-gradient(199deg, #aa53c5, #ffd700);
    width: 68px;
    height: 68px;
}
.card__authorName {
    font-weight: 600;
}
.card__contentBox {
    width: 100%;
    height: 100%;
}
.card__contentText {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}
.card__contentNik {
    position: absolute;
    top: 0px;
    left: 91px;
    font-weight: 500;
    color: #5b4646a1;
    font-style: italic;
}
.card__contentDate {
    position: absolute;
    right: 3px;
    top: 0px;
    font-weight: 500;
    color: #5b4646a1;
    font-style: italic;
}
.card__postImg {
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px #ffdb99;
}
.card__ikonBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 39px;
}
.sociaIcon:nth-child(4) {
    margin-left: 140px;
}

.sociaIcon {
    font-size: 25px;
    color: #ffff;
    transition: 1s ease-out;
    cursor: pointer;
}
.sociaIcon:hover {
    color: #ff5d37;
}

.likeCount {
    color: #ffff;
}
